/* selectBox styles */

/* Dropdown control */
.selectBox-dropdown {
    min-width: 100%;
    position: relative;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
    border: none;
	font-size: 2em;
	height: 45px;
	background: @white;
	color: #1c1c1c;
	font-weight: 500;
	.border-radius(10px);
	margin-bottom: 7px;
    @media @mobile {
        margin-bottom: 20px;
    }
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing-bottom {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    padding: 8px 0 0 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%!important;
    @media @mobile {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: url('../images/form-DarkDownArrow.png') 50% center no-repeat;
    background-size: 25px 25px;
    width: 65px;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    background: @white;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 100%;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top {
    border-bottom: none;
    padding: 15px 0;
}
.selectBox-options.selectBox-options-bottom {
	border-top: none;
    padding: 15px 0;
}

.selectBox-options LI:first-child {
	display: none;
}

.selectBox-options LI A {
    line-height: 1.4em;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    color: @dark-gray;
	font-size: 1.5em;
	text-decoration: none;
	padding: 1px 15px;
    @media @mobile {
        font-size: 1.1em;
        padding: 7px 15px;
    }
}

.selectBox-options LI.selectBox-hover A {
    font-weight: 600;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    font-weight: 600;
    background: #c8def4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}