@import "custom.less";
@import "template.less";
@import "selectBox.less";
@import "cropBox.less";

body {
	background: url('../images/BG_Orange_2.jpg') center;
	.background-cover;
	background-attachment: fixed;
	opacity: 1;
	&.story-wall-page {
		background-image: url('../images/BG-storywall-bg.jpg');
	}
	.active {
    	opacity: 1;
	}
}

a:hover, a:active, a:focus {
	outline: 0;
}

#wrapper {
  opacity:    1;
  background-color: #FFFFFF;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  height: 100%;

    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
	.preactive {
    	opacity: 0;
	}
}


.main-header {
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 75px;
	@media @mobile {
		height: 0;
	}
	.left {
		float: left;
		@media @mobile {
			float: none;
		}
		img {
			@media @mobile {
				width: 220px;
				display: block;
				margin: 0 auto;
			}
		}
		.logo-homepage {
  			.opacity {
  				opacity: 0;
  			}
			.hide {
				display: none;
			}
		}
	}
	.right {
		overflow: hidden;
		text-align: right;
		padding: 25px 35px 0 0;
		& > div {
			float: right;
		}
		.share-btn {
			padding-right: 50px;
			img {
				margin-top: 1px;
			}
		}
	}
}

.nav-click {
	margin-left: 30px;
	cursor: pointer;
	.transition;
	float: left;
	display: inline-block;
	@media @mobile {
		position: absolute;
		top: 8px;
		right: 10px;
		padding: 10px;
	}
	&:hover {
		opacity: .5;
	}
	img {
		text-align: center;
		display: block;
		margin: 0 auto 3px;
		width: 32px;
		height: 23px;
	}
	span {
		display: block;
		font-family: @headline;
		font-size: 1.3em;
		color: @white;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
	}
}

.social, .share-btn {
	display: inline-block;
	float: left;
}
.social {
	margin-top: 8px;
	a {
		display: inline-block;
		padding: 0 8px;
		float: left;
		&:hover {
			opacity: .5;
		}
		.facebook {
			width: 12px;
			height: 22px;
		}
		.twitter {
			width: 22px;
			height: 18px;
		}
		.youtube {
			width: 18px;
			height: 22px;
		}
		.instagram {
			width: 21px;
			height: 21px;
		}
	}
}
.share-btn {
	margin: 8px 0 0 13px;
	cursor: pointer;
	.transition;
	&:hover {
		opacity: .5;
	}
	img {
		margin-top: 6px;
		width: 57px;
		height: 20px;
	}
}

/* homepage logo animations */

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}




.overlay {
	position: fixed;
	z-index: 10000;
	background: @black;
	background: rgba(0, 0, 0, .9);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	.close {
		display: inline-block;
		position: absolute;
		right: 25px;
		top: 25px;
		&:hover {
			opacity: .5;
		}
		img {
			height: 29px;
			width: 29px;
		}
	}
}

.nav-overlay {
	nav {
		position: absolute;
		margin: auto;
		top: 100px;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		ul {
			margin: 0;
			padding: 0;
		}
		a {
			font-family: @headline;
			font-size: 3.7em;
			color: @white;
			text-transform: uppercase;
			display: block;
			text-align: center;
			margin-bottom: 30px;
			text-decoration: none;
			&:hover {
				opacity: .7;
			}
			@media @mobile{
				font-size: 2.2em;
				margin-bottom: 15px;
			}
		}
		#menu-main-menu-top {
			li {
				&:last-child {
					a {
						text-align: left;
						border-right: none;
						padding-right: 0;
						margin-left: 30px;
					}
				}
			}
			.menu-item-language {
				width: 50%;
	  			display: inline-block;
				a {
	  				font-size: 2.2em;
					text-align: right;
					border-right: 1px solid @white;
					padding-right: 30px;
	  				@media @mobile{
						font-size: 1.5em;
	  				}
	  			}
			}
		}
		.bottom {
			text-align: center;
			li {
				display: inline-block;
				&:last-child {
					a {
						border-right: none;
						padding-right: 0;
						margin-right: 0;
					}
				}
				a {
					display: block;
					font-size: 2.2em;
					border-right: 1px solid @white;
					padding-right: 30px;
					margin: 0 30px 0 0;

					@media @mobile{
						font-size:1.5em;
						padding-right: 15px;
  						margin: 0 15px 0 0;
					}

				}

			}
		}
		.mobile-social {
			width: 230px;
			margin: 30px auto 0;
			display: none;
			@media @mobile {
				display: block;
			}
		}
	}
}

.share-overlay {
	z-index: 50000;
	.share-inner {
		background: @white;
		width: 400px;
		height: 175px;
		padding: 41px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		margin: auto;
		@media @mobile {
			width: 75%;
			height: auto;
			padding: 5%;
			top: 80px;
			bottom: inherit;
		}
		.title {
			color: @dark-gray;
			font-size: 3.2em;
			font-family: @headline;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		p {
			color: @dark-gray;
			text-align: center;
			font-size: 1.3em;
		}
		.at-share-tbx-element .at-share-btn {
			margin: 0 5px;
		}
	}
}

#homepage {
	background: url('../images/BG_Orange_1.jpg') center;
	.background-cover;
	width: 100%;
	position: relative;
	min-height: 675px;
	@media @mobile {
		min-height:0;
	}
	.background-slider-fade {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		background: url('../images/carousel-overlay.png') repeat-x center top;
		.background-cover;
	}
	.background-slider {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 0;
		.slide {
		    position: absolute;
		    top: 0;
			bottom: 0;
			&.left {
				left: 0;
				right: 30%;
				margin: auto;
				text-align: center;
				img {
					@media @tablet {
						left: 0;
					}
				}
			}
			&.right {
				float: right;
			    height: 100%;
			    overflow: hidden;
			    text-align: right;
			    width: 100%;
			    img {
			    	@media @tablet {
						max-height: 80%;
  						right: 0;
					}
			    }
			}
			img {
				height: 100%;
				width: auto;
				@media @tablet {
					vertical-align: bottom;
					bottom: 0;
					position: absolute;
					max-width: 800px;
					height: auto;
				}
			}
		}
	}
	.content {
		display: table;
		position: absolute;
		bottom: 140px;
		z-index: 2;
		max-width: 1240px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 20px;
		@media @mobile {
			top: 180px;
			position: relative;
			margin: auto;
		}
		.video {
			position: relative;
			float: left;
			width: auto;
			width: 49%;
			margin-right: 35px;
			background: @black;
			&:hover {
				.video-img {
					opacity: .5;
				}
			}
			.video-img {
				width: 100%;
				.transition;
			}
			.inner {
				position: absolute;
				text-align: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				& > div {
					top: 40%;
					position: relative;
					img, span {
						display: block;
						margin: 0 auto;
					}
					img {
						margin: 0 auto 10px;
						width: 48px;
						width: 48px;
					}
				}
			}
			@media @mobile {
				width:100%;
			}

		}
		.text {
			overflow: hidden;
			h1 {
				margin: 0 0 8px 0;
				@media (max-width: 1200px) {
					font-size: 6em;
				}
				@media @mobile {
					font-size: 3em;
					text-align:center;
				}
			}
		}
	}
	.bottom-sticky {
		position: absolute;
		@media @mobile {
			text-align: center;
			display: block;
			float: none;
		}
		a {
			@media @mobile {
				width: auto;
			}
		}
	}
}

.home-video-overlay {
	.home-video-inner {
		padding-top: 75px;
	}
}

#our-tomorrow {
	background: url('../images/BG_Orange_2.jpg') center;
	.background-cover;
	width: 100%;
	position: relative;
	.top-arrow {
		position: absolute;
		z-index: 5;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		a {
			display: block;
			background: url('../images/icon-UpArrow.png') no-repeat top center;
			background-size: 22px 14.5px;
			margin: 30px auto 0;
			width: 100px;
			text-align: center;
			padding: 25px 0 0 0;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 500;
			font-family: @headline;
			font-size: 1.5em;
			&:hover {
				opacity: .5;
			}
		}
	}
	.mobile-title {
		background: rgba(247, 161, 50, .8);
		z-index: 1;
		position: absolute;
		left: 0;
		right: 0;
		padding: 17px 20px;
		color: @white;
		font-size: 1.9em;
		text-transform: uppercase;
		font-family: @headline;
		display: none;
		@media @mobile {
			display: block;
		}
	}
	.background-image-fade {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		background: url('../images/overlay_bottom.png') repeat-x center top;
		.background-cover;
	}
	.background-image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: right;
		z-index: 0;
		img {
			max-height: 100%;
			width: auto;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.scrolling-content-wrap {
		width: 100%;
	    position: absolute;
		bottom: 75px;
		margin: auto;
		height: 355px;
		z-index: 2;
		/*@media (max-height: 780px) {
			bottom: 50px;
		}
		@media @mobile {
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			width: 95%;
			left: 0;
			right: 0;
			bottom: 0;
		}*/
		.cycle-prev, .cycle-next {
			width: 50px;
			height: 50px;
			top: 150px;
			z-index: 102;
			position: absolute;
			background-repeat: no-repeat;
			background-size: 20.5px 36.5px;
			background-position: center;
			opacity: .8;
			.transition;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.cycle-prev {
			left: 0;
			background-image: url('../images/ourTomorrowLeftArrow.png');
		}
		.cycle-next {
			right: 0;
			background-image: url('../images/ourTomorrowRightArrow.png');
		}
		.fade-left, .fade-right {
			height: 355px;
			width: 132px;
			position: absolute;
			z-index: 101;
			top: 0;
		}
		.fade-left {
			background: url('../images/ourTomorrowLeftGradient.png') no-repeat right center;
			left: 0;
		}
		.fade-right {
			background: url('../images/ourTomorrowRightGradient.png') no-repeat right center;
			right: 0;
		}
		.scrolling-content {
			/*width: 100%;*/
   			/*white-space: nowrap;*/
   			/*padding: 0 30px 0 75px;*/
   			/*@media @mobile {
   				padding: 0;
				overflow: scroll;
				height: 100%;
   			}*/
   			.item {
   				width: 390px;
				height: 330px;
				margin: 5px 6px 10px;
				float: none;
				display: inline-block;
				position: relative!important;
				@media @mobile {
					display: block;
					position: static;
					width: 100%;
					height: auto;
					margin: 0;
				}
				&.last {
					@media @mobile {
						padding-bottom: 65px;
					}
				}
   				&.content {
   					width: 515px;
   					@media @mobile {
   						width: 100%;
						position: static;
						display: block;
						padding-top: 150px;
						height: auto;
   					}
   					.inner {
   						width: 515px;
   						background: none;
						box-shadow: none;
						@media @mobile {
							width: 100%;
							margin: 0;
							height: auto;
						}
						.copy {
							@media @mobile {
								text-align: center;
								position: static;
							}
						}
						h1 {
							font-size: 5.2em;
							@media @mobile {
								font-size: 2.5em;
							}
						}
						h2 {
							font-weight: 300;
							margin: 0 0 20px 0;
							span.title {
								font-weight: 700;
								text-transform: uppercase;
							}
							span.medium {
								text-transform: none;
							}
						}
						.button-orange {
							@media @mobile {
								display: none;
							}
						}
   					}
   				}
   				.share-your-own {
   					position: absolute;
   					left: 0;
					right: 0;
					@media @mobile {
						position: relative;
					}
					span {
						@media @mobile {
							font-size: 3.5em;
						}

					}
   				}
				.inner {
					width: 380px;
					height: 320px;
					@media @mobile {
						width: 100%;
						height: auto;
						.background-cover;
						margin: 20px 0;
					}
					&.share-your-own {
						@media @mobile {
							height: 250px;
						}
					}
					.copy {
						@media @mobile {
							position: relative;
							top: initial;
							left: initial;
							right: initial;
							bottom: initial;
							padding: 15px;

						}
					}
					.links {
						bottom: 20px;
  						left: 20px;
						@media @mobile {
							position: relative;
							bottom: inherit;
							left: inherit;
							right: inherit;
							padding: 0 15px 15px;
							display: inline-block;
						}
					}
				}
   			}
		}
	}
	.bottom-sticky {
		position: absolute;
	}
}

.bottom-sticky {
	height: 65px;
	padding: 10px 35px;
	background: @white;
	position: fixed;
	width: 100%;
	bottom: 0;
	.border-box;
	z-index: 3;
	@media @mobile {
		position: relative;
	}
	a {
		color: @orange;
		font-size: 1.9em;
		text-transform: uppercase;
		font-family: @headline;
		background-position: right center;
		background-repeat: no-repeat;
		padding-right: 40px;
		line-height: 2.3em;
		padding-top: 2px;
		text-decoration: none;
		@media @mobile {
			display: block;
			margin: 0 auto;
			float: none;
			.clearfix;
			width: 160px;
		}
		&.bottom-arrow {
			background-image: url('../images/icon-OrangeDownArrow_Small.png');
			background-size: 27px 27px;
			&:hover {
				background-image: url('../images/icon-OrangeDownArrow_Small@2x.gif');
			}
			&:before {
				content: url('../images/icon-OrangeDownArrow_Small@2x.gif');
				width:0;
				height:0;
				display: none;
			}
		}
		&.plus {
			padding-right: 0;
			&:hover {
				img {
					-webkit-animation-name: rotate;
				    -moz-animation-name: rotate;
				    animation-name: rotate;
				    -webkit-animation-duration: .5s;
				    -moz-animation-duration: .5s;
				    animation-duration: .5s;
				    -webkit-animation-timing-function: linear;
				    -moz-animation-timing-function: linear;
				    animation-timing-function: linear;
				}
			}
			span, img {
				float: left;
			}
			img {
				width: 19px;
				height: 19px;
				margin: 10px 0 0 10px;
				@media @mobile {
					float: right;
				}
			}
		}
		&.watch {
			background: url('../images/icon-GrayPlayBtn.png') left center no-repeat;
			padding-right: 0;
			padding-left: 40px;
			color: @dark-gray;
			text-transform: none;
			font-size: 1.3em;
			font-family: @sans-serif;
			line-height: 3.5em;
			font-weight: 500;
			background-size: 29px 29px;
			@media @mobile {
				display: none;
			}
			&:hover {
				background-image: url('../images/icon-GrayPlayBtn@2x.gif');
			}
			&:before {
				content: url('../images/icon-GrayPlayBtn@2x.gif');
				width:0;
				height:0;
				display: none;
			}
		}
	}
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.button-orange {
	font-size: 19px;
	font-weight: 700;
	color: @bright-dark-orange;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: @white;
	padding: 8px 22px;
	display: inline-block;
	text-decoration: none;
	position: relative;
	&.plus {
		padding-right: 50px;
		&::after {
			background-image: url('../images/icon-OrangePlusIcon_Small.png');
			background-size: 19px 19px;
			background-position: 0 center;
			background-repeat: no-repeat;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
			content: "";
			width: 40px;
			height: 19px;
			.transition(opacity);

		}
		&:before {
			content: url('../images/icon-WhitePlusIcon_Small@2x.gif');
			width:0;
			height:0;
			display: none;
		}
	}
	&:hover {
		color: rgba(255, 72, 0, .5);
		&::after {
			opacity: .5;
		}
	}
}

.item {
	width: 195px;
	height: 165px;
	float: left;
	.transition;
	@media @mobile {
		width: 150px;
	}
	.color-overlay {
		opacity: .7;
		.transition;
	}
	.special-video.copy {
		top: 0;
 		bottom: 0;
  		left: 0;
  		right: 0;
  		h2 {
  			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			z-index: 1;
			a {
				width: 100%;
				height: 100%;
				padding: 20px;
				.border-box;
				display: block;
			}
  		}
  		.play-btn {
  			right: 20px;
  			bottom: 20px;
  		}
	}
	&:hover {
		.inner {
			background-size: 120%;
			@media @mobile {
				background-size: cover;
			}
		}
		.color-overlay {
			opacity: 1;
		}
		.share-your-own {
			.image {
				-webkit-animation-name: rotate;
			    -moz-animation-name: rotate;
			    animation-name: rotate;
			    -webkit-animation-duration: .3s;
			    -moz-animation-duration: .3s;
			    animation-duration: .3s;
			    -webkit-animation-timing-function: linear;
			    -moz-animation-timing-function: linear;
			    animation-timing-function: linear;
			}
		}
	}
	&.small {
		.special-video.copy .play-btn {
			right: 0;
  			bottom: 0;
		}
		&.video {
			.inner {
				background-image: none!important;
			}
		}
		.play-btn {
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 0;
			opacity: .3;
		}
		.copy {
			h2 {
				font-size: 1.8em;
				position: relative;
  				z-index: 1;
  				@media @mobile {
  					font-size: 1.5em;
  				}
				p {
					font-size: 18px;
				}
			}
		}
	}
	&.large {
		width: 390px;
		height: 330px;
		@media @mobile {
			width: 300px;
		}
		.play-btn {
			right: 0;
			bottom: 0;
		}
		.inner {
			width: 380px;
			height: 320px;
			@media @mobile {
				width: 290px;
			}
		}
	}
	&.hope {
		.color-overlay {
			background: @bright-dark-orange;
			background: -webkit-linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
			background: linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
		}
		.links {
			a.relate {
				color: @bright-dark-orange;
				background-image: url('../images/hope-heart.png');
				background-size: 17px 15px;
			}
			a.share {
				color: @bright-dark-orange;
				background-image: url('../images/hope-Plus.png');
				background-size: 14.5px 14.5px;
			}
		}
	}
	&.fear {
		.color-overlay {
			background: @bright-orange;
			background: -webkit-linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
  			background: linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
		}
		.links {
			a.relate {
				color: @bright-orange;
				background-image: url('../images/fear-Heart.png');
				background-size: 17px 15px;
			}
			a.share {
				color: @bright-orange;
				background-image: url('../images/fear-Plus.png');
				background-size: 14.5px 14.5px;
			}
		}
	}
	&.idea {
		.color-overlay {
			background: @yellow;
			background: -webkit-linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
  			background: linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
		}
		.links {
			a.relate {
				color: @yellow;
				background-image: url('../images/idea-Heart.png');
				background-size: 17px 15px;
			}
			a.share {
				color: @yellow;
				background-image: url('../images/idea-Plus.png');
				background-size: 14.5px 14.5px;
			}
		}
	}
	&.video {
		&.small {
			.inner {
				.copy {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					h2 {
						position: absolute;
					  	top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						a {
						  	display: block;
						  	height: 100%;
						  	width: 100%;
						  	padding: 20px;
  							.border-box;
						}
					}
				}
			}
		}
	}
	.inner {
		margin: 5px;
		background-size: 100%;
		background-color: @white;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		width: 185px;
		height: 155px;
		box-shadow: 0 0 5px rgba(0, 0, 0, .6);
		.transition;
		@media @mobile {
			overflow: hidden;
			width: 140px;
			margin: 0;
			background-size: cover;
		}
	}
	.special-video-color-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		opacity: .9;
		background: @yellow;
		background: -webkit-linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
  		background: linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
	}
	.color-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		opacity: .9;
		.transition;
	}
	.copy {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		white-space: normal;
		h2 {
			font-size: 2.3em;
			margin-bottom: 5px;
			font-weight: 500;
			@media @mobile {
  				font-size: 1.9em;
  			}
			span {
				text-transform: uppercase;
			}
			a {
				text-decoration: none;
			}
			p {
				font-size: 23px;
			  	margin-bottom: 0;
			  	font-weight: 500;
			  	display: inline;
			}
		}
		p {
			margin-bottom: 15px;
		}
		.line {
			width: 66px;
			height: 2px;
			background: @white;
			margin-bottom: 15px;
		}
		h3 {
			span:not(.shares):not(.relates) {
				font-weight: 300;
			}
		}
	}
	.play-btn {
		background: url('../images/icon-VideoPlayWhite.png') no-repeat;
		position: absolute;
		width: 80px;
		height: 80px;
		background-size: 80px 80px;
	}
	.links {
		position: absolute;
		bottom: 0;
		left: 0px;
		right: 20px;
		margin: auto;
		@media @mobile {
			right: 0;
		}
		a, div {
			font-size: 1.8em;
			text-transform: uppercase;
			font-family: @headline;
			background-color: white;
			background-repeat: no-repeat;
			margin-right: 7px;
			text-decoration: none;
			display: inline-block;
			&:hover {
				opacity: .5;
			}
			&.relate {
				padding: 7px 40px 6px 13px;
				background-position: 90% center;
			}
			&.share {
				padding: 7px 36px 6px 13px;
				background-position: 86% center;
			}
		}
	}
	.share-your-own {
		text-align: center;
		display: block;
		.clearfix;
		&.small {
			.image {
				margin: 25px auto 15px;
				width: 35px;
				height: 35px;
				background-size: 35px 35px;

			}
			span {
				font-size: 2.8em;
  				line-height: 1em;
  				@media @mobile {
  					font-size: 2em;
					line-height: 1em;
					padding: 0 10px;
  				}
			}
		}
		.image {
			margin: 75px auto 10px;
			width: 54px;
			height: 54px;
			background: url('../images/icon-OrangePlusLarge.png') no-repeat center;
			background-size: 54px 54px;
		}
		span {
			font-size: 4.6em;
			color: @orange;
			text-transform: uppercase;
			display: block;
			font-family: @headline;
			@media @mobile {
				font-size: 4em;
				padding: 20px;
				line-height: 1.1em;
			}
		}
	}
}

.form-overlay {
	background: url('../images/Form-BG_DarkOrange.jpg') center;
	.background-cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20000;
	display: none;
	.back {
		background: url('../images/icon-UpArrow.png') no-repeat center;
		background-size: 22px 14.5px;
		width: 22px;
		height: 14.5px;
		display: none;
		position: absolute;
		top: 35px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 2;
		@media @mobile {
			top: 15px;
		}
		&:hover {
			opacity: .5;
		}
	}
	.close-count {
		position: absolute;
		z-index: 2;
		right: 35px;
  		top: 35px;
  		@media @mobile {
  			right: 15px;
  			top: 15px;
  		}
		.count {
			display: inline-block;
			margin-right: 40px;
			color: white;
			font-size: 1.8em;
			font-weight: 300;
			opacity: 0;
			.transition;
			@media @mobile {
				margin-right: 10px;
				font-size: 1.5em;
			}
			&.show {
				opacity: 1;
			}
		}
		.close-form {
			display: inline-block;
			img {
				height: 29px;
				width: 29px;
				margin-top: -5px;
			}
			&:hover {
				opacity: .5;
			}
		}
	}
	.button {
		position: absolute;
		z-index: 2;
		bottom: 45px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		&.submit {
			button {
				.border-radius(25px);
				font-size: 2.8em;
				width: auto;
				height: auto;
				padding: 3px 20px 0;
			}
		}
		button {
			font-size: 1.2em;
			font-family: @headline;
			text-transform: uppercase;
			border: 5px solid @white;
			display: inline-block;
			.border-radius(50px);
			width: 80px;
			height: 50px;
			letter-spacing: 1px;
			text-align: center;
			/*padding-top: 12px;*/
			text-decoration: none;
			vertical-align: middle;
			.border-box;
			background: transparent;
			&.special {
				.text {
					display: block;
				}
			}
			.text {
				color: @white;
				display: none;
			}
			img {
				width: 21px;
				height: 22px;
				position: absolute;
				left: 0;
				right: 0;
				top: -5px;
				bottom: 0;
				margin: auto;
			}
			&:hover {
				opacity: .5;
			}
		}
		button[type="submit"] {
			display: none;
		}
	}
	.error {
		position: absolute;
		font-weight: 600;
		text-transform: uppercase;
		left: 0;
		right: 0;
		bottom: 13px;
		text-align: center;
		color: @yellow;
		font-size: 1.6em;
		display: none;
		z-index: 3;
		@media @mobile {
			bottom: 10px;
			font-size: 1em;
		}
	}
	.title-wrap {
		position: absolute;
		z-index: 2;
		top: 100px;
		max-width: 1040px;
		padding: 0 20px;
		width: 100%;
		left: 0;
		right: 0;
		margin: auto;
		display: none;
		@media @mobile {
			top: 75px;
			width: 90%;
		}
		a {
			text-transform: uppercase;
			font-family: @headline;
			line-height: 1em;
			display: inline-block;
  			margin-right: 35px;
  			font-size: 2.8em;
			color: rgba(255, 255, 255, .3);
			margin-bottom: 9px;
			text-decoration: none;
			@media @mobile {
				font-size: 2.5em;
				margin-right: 20px;
			}
			&:hover {
				color: rgba(255, 255, 255, .5);
			}
			&.main {
				color: @white;
				font-size: 9.2em;
				@media @mobile {
					font-size: 2.5em;
				}
				&:hover {
					color: rgba(255, 255, 255, .3);
				}
			}
		}
	}
	.wrap {
		overflow: hidden;
		position: relative;
		width: 100%;
		.inner-wrap {
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			.content-wrap {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			input[type="text"] {
				font-weight: 300;
				color: @white;
				font-size: 2.8em;
				background: none;
				border: none;
				width: 100%;
				box-sizing: border-box;
				@media @mobile {
					font-size: 1.7em;
				}
			}
			input[type="file"] {
				display: none;
			}
			input[type="checkbox"] {
				margin: 0 10px 0 0;
			}
			textarea {
				width: 100%;
				border: none;
				background: rgba(255, 255, 255, .30);
				padding: 20px;
				font-size: 2.4em;
				color: @white;
				.border-box;
				resize: none;
				@media @mobile {
					font-size: 1.7em;
				}
			}
			&.intro, &.name-location {
				text-align: center;
			}
			&.intro {
				max-width: 710px;
				@media @mobile {
					max-width: 90%;
				}
				p.extra-large {
					font-weight: 300;
					@media @mobile {
						font-size: 1.7em;
						margin-bottom: 0;
					}
				}
				p.large {
					@media @mobile {
						font-size: 1.7em;
					}
				}
			}
			&.name-location {
				max-width: 375px;
				@media @mobile {
					max-width: 90%;
				}
				input[type="text"] {
					height: 50px;
					border-bottom: 1px solid white;
					margin-bottom: 40px;
					@media @mobile {
						height: 40px;
						margin-bottom: 20px;
					}
					&:disabled {
				    	opacity: .5;
					}
				}
				.placeholder(@color: @white);
				.selectBox-dropdown {
  					margin-bottom: 40px;
  					@media @mobile {
  						margin-bottom: 25px;
  					}
  				}
				.fake-photo-upload {
					color: @white;
					font-size: 2.8em;
					font-family: @headline;
					text-transform: uppercase;
					display: inline-block;
					border: 4px solid @white;
					padding: 3px 20px 0;
					.border-radius(25px);
					cursor: pointer;
					.transition;
					margin-bottom: 5px;
					/*@media @mobile {
						margin-bottom: 20px;
					}*/
					&:hover {
						opacity: .5;
					}
					img {
						width: 29px;
						height: 24px;
						margin: -10px 0 0 10px;
					}
				}
				.fake-photo-upload-name {
  					font-size: .8em;
  				}
				.anonymous {
					p {
						@media @mobile {
							font-size: 1.4em;
						}
					}
				}
			}
			&.topic {
				max-width: 1040px;
				padding: 0 20px;
				@media @mobile {
					width: 90%;
				}
				.topic-first {
					border-bottom: 1px solid white;
					color: white;
					.clearfix;
					padding-bottom: 3px;
					margin: 50px auto 35px;
					position: relative;
					@media @mobile {
						margin: 10px auto 20px;
					}
					div {
						display: inline-block;
						float: left;
						width: 440px;
						font-size: 2.8em;
						@media @mobile {
							font-size: 1.7em;
						}
						span {
							font-style: italic;
							font-size: 13px;
							margin-right: 10px;
							font-weight: 300;
							@media @mobile {
								margin-right: 0;
							}
						}
					}
					input[type="text"] {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						padding-left: 320px;
						padding-right: 100px;
						@media @mobile {
							position: static;
							padding-left: 0;
							padding-right: 50px;
						}
					}
					.placeholder(@color: rgba(255, 255, 255, 0.3));
					.counter {
						font-size: 13px;
						right: 10px;
						font-weight: 300;
						float: right;
						width: auto;
						margin-top: 16px;
						@media @mobile {
							position: absolute;
							bottom: 0;
						}
					}
				}
				.topic-second {
					margin-bottom: 15px;
					.placeholder(@color: @white);
				}
				.video-upload {
					border-bottom: 1px solid @white;
					color: @white;
					display: none;
				}
				.placeholder(@color: rgba(255, 255, 255, 0.3));
				.fake-video-upload {
					color: @white;
					font-size: 1.3em;
					cursor: pointer;
					display: inline-block;
					.transition;
					&:hover {
						opacity: .5;
					}
					img {
						width: 33px;
						height: 20px;
						margin-right: 8px;
					}
				}
			}
			&.confidential-ques {
				max-width: 980px;
				padding: 0 20px;
				@media @mobile {
					max-width: 100%;
				}
				.mobile-top-gradient {
					background: url('../images/top-gradient.png') repeat-x bottom left;
					height: 100px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;
					z-index: 1;
					display: none;
					@media @mobile {
						display: block;
					}
				}
				.mobile-bottom-gradient {
					background: url('../images/bottom-gradient.png') repeat-x top left;
					height: 150px;
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					z-index: 1;
					background-size: cover;
					/*display: none;
					@media @mobile {
						display: block;
					}*/
				}
				.content-wrap {
					height: 100%;
					top: 0;
					-webkit-transform: none;
					-ms-transform: none;
					transform: none;
					 overflow-x: hidden;
  					overflow-y: scroll;
  					padding: 200px 0 150px;
  					box-sizing: border-box;
					@media @mobile {
  						width: 90%;
  						margin: 0 auto;
  						top: 30px;
  						padding-top: 0;
					}
				}
				.columns-wrap {
					.clearfix;
					@media @mobile {
						padding-top: 75px;
					}
					.other-hidden {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						width: 416px;
						height: 150px;
						background: @white;
						padding: 20px 30px;
						.border-box;
						.border-radius(5px);
						-webkit-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.75);
						box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.75);
						display: none;
						.input-box {
							p {
								color: @dark-gray;
								font-size: 2.2em;
								font-weight: 500;
								text-align: left;
							}
							& > div {
								input[type="text"] {
									border-bottom: 1px solid @dark-gray;
  									border-radius: 0;
  									width: 305px;
									float: left;
								}
								.other-submit {
									background: url('../images/form-other-popup.png') no-repeat right top;
									display: inline-block;
									width: 50px;
									height: 50px;
									float: left;
									.transition;
									cursor: pointer;
									&:hover {
										opacity: .5;
									}
								}
							}
						}
					}
					p {
						font-size: 1.9em;
       					font-weight: 300;
       					margin-bottom: 20px;
       					text-align: center;
       					@media @mobile {
       						font-size: 1.7em;
       					}
					}
					.columns-inner-wrap {
						max-width: 775px;
						.clearfix;
						margin: 0 auto;
					}
					.left, .right {
						width: 48.5%;
						float: left;
						@media @mobile {
							width: 100%;
							float: none;
						}
					}
					.left {
						margin-right: 3%;
						@media @mobile {
							margin: 0;
						}
					}
					.right {
						@media @mobile {
							margin-bottom: 150px;
						}
					}
					input[type="text"] {
						height: 45px;
						background: @white;
						color: #1c1c1c;
						font-weight: 500;
						.border-radius(10px);
						font-size: 2em;
						padding: 0 15px;
						margin-bottom: 7px;
					}
					.placeholder(@color: #1c1c1c);
					.select-multiple {
						height: 45px;
					}
					.multiple {
						background: @white;
						.border-radius(10px);
						margin-bottom: 7px;
						@media @mobile {
							margin-bottom: 20px;
						}
						label {
							color: #1c1c1c;
							font-weight: 500;
							font-size: 2em;
							padding: 5px 15px 0;
							display: block;
							span {
								color: #b7b7b7;
								font-size: 12px;
								margin-left: 5px;
							}
						}
						.checkboxes {
							line-height: 1.4em;
							white-space: nowrap;
						    overflow: scroll;
						    color: #474747;
						    font-size: 1.5em;
						    text-decoration: none;
						    width: 100%;
						    height: auto;
						    white-space: inherit;
						    padding: 0 20px 10px 30px;
						    .border-box;
						    input[type="checkbox"] {
						    	float: left;
								top: 4px;
								position: relative;
						    }
						    span {
						    	overflow: auto;
  								display: block;
						    }
						}
						.selectBox-inline {
							width: 99%!important;
							display: block!important;
							height: 60px!important;
							.border-box;
							border: none;
							text-decoration: none;
							background: transparent;
							.selectBox-options {
								width: 96.5%;
								margin-bottom: 5px;
							}
						}
					}
				}
			}
			&.review {
				max-width: 1170px;
				padding: 0 20px;
				.gradient {
					background: url('../images/bottom-gradient.png') repeat-x top center;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 150px;
					z-index: 1;
					display: none;
					@media (max-width: 1210px) {
						display: block;
					}
				}
				.content-wrap {
					.clearfix;
					@media (max-width: 1210px) {
						top: 100px;
						-webkit-transform: translateY(0%);
						-ms-transform: translateY(0%);
						transform: translateY(0%);
						overflow: scroll;
					}
					.title {
						font-size: 6em;
						color: @white;
						text-transform: uppercase;
						text-align: center;
						margin-bottom: 20px;
						font-family: @headline;
						@media @mobile {
							font-size: 3em;
						}
					}
					.wrapper {
						clear: both;
  						overflow: hidden;
  						margin: 0 auto;
  						max-width: 100%;
  						@media (max-width: 1210px) {
  							overflow: scroll;
  							padding-bottom: 150px;
  						}

					}
					.column {
						width: 390px;
						float: left;
						display: none;
						&:last-child {
							margin-right: 0;
						}
						&.hope {
							.color-overlay {
								background: @bright-dark-orange;
								background: -webkit-linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
  								background: linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
							}
							.links {
								.relate {
									color: @bright-dark-orange;
									background-image: url('../images/hope-Heart.png');
									background-size: 17px 15px;
								}
								.share {
									color: @bright-dark-orange;
									background-image: url('../images/hope-Plus.png');
									background-size: 14.5px 14.5px;
								}
							}
						}
						&.fear {
							.color-overlay {
								background: @bright-orange;
								background: -webkit-linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
					  			background: linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
							}
							.links {
								.relate {
									color: @bright-orange;
									background-image: url('../images/fear-Heart.png');
									background-size: 17px 15px;
								}
								.share {
									color: @bright-orange;
									background-image: url('../images/fear-Plus.png');
									background-size: 14.5px 14.5px;
								}
							}
						}
						&.idea {
							.color-overlay {
								background: @yellow;
								background: -webkit-linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
  								background: linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
							}
							.links {
								.relate {
									color: @yellow;
									background-image: url('../images/idea-Heart.png');
									background-size: 17px 15px;
								}
								.share {
									color: @yellow;
									background-image: url('../images/idea-Plus.png');
									background-size: 14.5px 14.5px;
								}
							}
						}
						.item.large {
							.transition-none;
							&:hover {
								.inner {
									.color-overlay {
										opacity: .9;
									}
								}
							}
							.inner {
								.transition-none;
								.background-image {
									width: 380px;
									height: 320px;
									position: absolute;
									z-index: 0;
								}
								.links {
									bottom: 20px;
									left: 20px;
								}
							}
							.copy {
								h2 {
									max-height: 93px;
  									overflow: hidden;
									span {
										text-transform: none;
									}
								}
							}
						}
						a {
							color: @yellow;
							text-transform: uppercase;
							font-family: @headline;
							font-size: 2em;
							text-decoration: none;
							margin: 0 0 0 5px;
							&:hover {
								opacity: .5;
							}
						}
					}
				}
			}
			&.thank-you {
				max-width: 750px;
				text-align: center;
				@media @mobile {
					max-width: 90%;
				}
				p.extra-large {
					@media @mobile {
						font-size: 1.7em;
						margin-bottom: 0;
					}
				}
				.email-share {
					max-width: 375px;
					margin: 0 auto;
					input[type="text"] {
						height: 50px;
						border-bottom: 1px solid white;
						margin: 20px 0 30px;
						@media @mobile {
							height: 40px;
							margin-bottom: 20px;

						}
					}
					.placeholder(@color: @white);
					a {
						width: 100%;
						background: @white;
						font-size: 2.4em;
						color: #1c1c1c;
						text-transform: uppercase;
						text-decoration: none;
						padding: 6px 0 4px;
						display: block;
						font-family: @headline;
						margin-bottom: 10px;
						&:hover {
							opacity: .5;
						}
						&.topic {
							display: none;
							&.active {
								display: block;
							}
						}
						img {
							width: 21px;
							height: 21px;
							margin: -5px 0 0 15px;
						}
					}
				}
			}
		}
	}
}

.top-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(247, 161, 50, .8);
	z-index: 1;
	padding: 17px 20px;
	color: @white;
	font-size: 1.9em;
	text-transform: uppercase;
	font-family: @headline;
	text-decoration: none;
}

.story-wall {
	padding: 135px 0 40px;
	@media @mobile {
		padding-top: 90px;
	}
	.filters {
		.clearfix;
		@media @tablet {
			width: 100%;
  			float: right;
  			margin-bottom: 20px;
  			position: relative;
		}
		.sort {
			display: none;
			@media @tablet {
				display: block;
				font-family: @headline;
				font-size: 2.5em;
				text-transform: uppercase;
				color: @white;
				background: url('../images/icon-WhiteDownArrow.png') no-repeat right center;
				padding: 0 35px 0 0;
  				float: right;
			}
		}
		ul {
			margin: 0 0 30px;
			list-style: none;
			padding: 0;
			text-align: right;
			width: auto;
  			float: right;
			@media @tablet {
				margin: 0;
				text-align: left;
				background: @black;
				padding: 20px 0;
				display: none;
				position: absolute;
				z-index: 10;
				right: 0;
				top: 100%;
				width: 275px;
			}
			&.desktop {
				& > li {
					overflow: hidden;
					float: left;
					& > ul {
						display: none;
					}
					&:hover {
						overflow: visible;
						& > ul {
							opacity: 1;
							display: block;
						}
					}
				}
			}
			& > li {
				display: inline-block;
				position: relative;
				.transition;
				@media @tablet {
					display: block;
				}
				&.active {
					& > a {
						border-bottom: 3px solid @white;
						@media @tablet {
							border-bottom: none;
						}
					}
				}

				& > a {
					font-family: @headline;
					font-size: 2.5em;
					text-transform: uppercase;
					margin: 0 20px;
					text-decoration: none;
					display: block;
					@media @tablet {
						display: block;
						margin: 0;
						padding: 5px 30px;
					}
					&:hover {
						border-bottom: 3px solid @white;
						@media @tablet {
							border-bottom: none;
						}
					}
					&:after {
						content: url('../images/icon-WhiteDownArrow.png');
						padding-left: 10px;
					}
					&:only-child:after {
						content: '';
						padding-left: 0;
					}
				}
				& > ul {
					position: absolute;
					top: 100%;
					opacity: 0;
					background: @white;
					z-index: 1;
					text-align: left;
					.border-radius(8px);
					padding: 15px 20px 15px;
					margin: 0;
					width: 200px;
					.border-box;
					float: left;
					box-shadow: 0 0 5px #666;
					max-height: 425px;
					overflow: auto;
					display: none;
					.transition;
					@media @tablet {
						display: none;
						position: relative;
						width: 275px;
						opacity: 1;
						background: @white;
						box-shadow: none;
						padding: 15px 0 10px;
						.border-radius(0);
						max-height: 225px;
						height: auto;
  						overflow-y: scroll;
  						border: 1px solid transparent;
						.transition-none;
					}
					li {
						display: block;
						a {
							color: @dark-gray;
							font-size: 1.8em;
							margin: 0;
							font-family: @sans-serif;
							text-transform: none;
							display: block;
							padding: 2px 0;
							text-decoration: none;
							@media @tablet {
								font-family: @headline;
								font-size: 2.5em;
								text-transform: uppercase;
								padding: 0 30px 0 45px;
								text-decoration: none;
								color: @black;
							}
							&:hover, &.active {
								font-weight: 600;
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.story-wall-isotope {
		margin: 0 auto;
		.clearfix;
		/*@media @mobile {
			width: 300px!important;
		}*/
	}
}

#more-button {
	text-align: center;
	margin-bottom: 50px;
	.load-more {
		margin: 30px 0;
		border: none;
		font-size: 19px;
		font-weight: 700;
		color: #e84905;
		background-color: #ffffff;
		padding: 8px 22px;
		display: inline-block;
		.transition;
		&:disabled {
			opacity: .5;
		}
		&:hover {
			opacity: .5;
		}
	}
}

.story-overlay, .story-overlay-alt {
	.pager {
		a {
			position: absolute;
			top: 45%;
			width: 20px;
			height: 29px;
			text-indent: -99999px;
			padding: 20px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px 29px;
			@media @mobile {
				width: 25px;
  				height: 45px;
  				padding: 10px;
  				z-index: 10;
  				background-color: rgba(0, 0, 0, .5);
			}
			&:hover {
				opacity: .5;
			}
			&.next {
				background-image: url('../images/pager-next.png');
				right: 150px;
				@media @tablet {
					right: 0;
				}
			}
			&.prev {
				background-image: url('../images/pager-prev.png');
				left: 150px;
				@media @tablet {
					left: 0;
				}
			}
		}
	}
	.story-inner {
		width: 620px;
		height: 450px;
		overflow-x: none;
		overflow-y: auto;
		margin: 0 auto;
		.background-cover;
		background-color: @white;
		background-position: center;
		position: relative;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 30px 35px;
		.border-box;
		@media @mobile {
			width: 95%;
			height: 390px;
			top: 80px;
  			bottom: inherit;
  			padding: 30px 40px;
		}
		&.hope {
			.color-overlay {
				background: @bright-dark-orange;
				background: -webkit-linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
				background: linear-gradient(#ff4800, rgba(255, 72, 0, 0.74));
			}
			.links {
				a.relate {
					color: @bright-dark-orange;
					background-image: url('../images/hope-heart.png');
					background-size: 17px 15px;
				}
				a.share {
					color: @bright-dark-orange;
					background-image: url('../images/hope-Plus.png');
					background-size: 14.5px 14.5px;
				}
			}
		}
		&.fear {
			.color-overlay {
				background: @bright-orange;
				background: -webkit-linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
	  			background: linear-gradient(#ff7300, rgba(255, 115, 0, 0.8));
			}
			.links {
				a.relate {
					color: @bright-orange;
					background-image: url('../images/fear-Heart.png');
					background-size: 17px 15px;
				}
				a.share {
					color: @bright-orange;
					background-image: url('../images/fear-Plus.png');
					background-size: 14.5px 14.5px;
				}
			}
		}
		&.idea {
			.color-overlay {
				background: @yellow;
				background: -webkit-linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
  				background: linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
			}
			.links {
				a.relate {
					color: @yellow;
					background-image: url('../images/idea-Heart.png');
					background-size: 17px 15px;
				}
				a.share {
					color: @yellow;
					background-image: url('../images/idea-Plus.png');
					background-size: 14.5px 14.5px;
				}
			}
		}
		.special-video-color-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			opacity: .9;
			background: @yellow;
			background: -webkit-linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
  			background: linear-gradient(#ffae00, rgba(255, 174, 0, 0.78));
		}
		.color-overlay {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			opacity: .9;
			width: 620px;
			height: 450px;
			@media @mobile {
				width: 95%;
				height: 390px;
				top: 80px;
	  			bottom: inherit;
			}
		}
		.copy {
			position: relative;
			white-space: normal;
			h2 {
				font-size: 2.3em;
				margin-bottom: 5px;
				font-weight: 500;
				span {
					text-transform: uppercase;
				}
				p {
					font-size: 23px;
				  	margin-bottom: 0;
				  	font-weight: 500;
				  	display: inline;
				}
			}
			p {
				margin-bottom: 15px;
			}
			.line {
				width: 66px;
				height: 2px;
				background: @white;
				margin-bottom: 15px;
			}
			h3 {
				span:not(.shares):not(.relates) {
					font-weight: 300;
				}
			}
		}
		.links {
			position: relative;
			a {
				font-size: 1.8em;
				text-transform: uppercase;
				font-family: @headline;
				background-color: white;
				background-repeat: no-repeat;
				margin-right: 7px;
				text-decoration: none;
				display: inline-block;
				&:hover {
					opacity: .5;
				}
				&.relate, &.share {
					@media @mobile {
						display: block;
						width: 100px;
					}
				}
				&.relate {
					padding: 7px 40px 6px 13px;
					background-position: 90% center;
					@media @mobile {
						margin-bottom: 10px;
					}
				}
				&.share {
					padding: 7px 36px 6px 13px;
					background-position: 86% center;
				}
			}
		}
	}
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}






.page {
	padding: 220px 0 100px;
	@media @mobile {
		padding: 90px 0 50px;
	}
	.page-title {
		width: 375px;
		margin-right: 40px;
		float: left;
		@media @mobile {
			width: 100%;
			margin-right: 0;
			float: none;
		}
		h1 {
			@media @mobile {
				font-size: 3em;
			}
		}
	}
	.page-content {
		overflow: hidden;
		padding-top: 70px;
		@media @mobile {
			padding-top: 0;
		}
	}

}

#page-timeline {
	background: url('../images/BG_Orange_1.jpg') center;
	.background-cover;
	width: 100%;
	position: relative;
	min-height: 675px;

	.page {
		background-image: url('../images/timeline-background.png');
		background-size: 100% 2233px;
		background-position: 0px -1000px;
		background-repeat: repeat-y;

		.container {
			max-width: 900px;
		}
		.page-title {
			width:100%;
			margin: 0px;
			float: none;
		} // .page-title
		.page-content {
			padding-top: 0px;

			span.timeline-thin-text {
				font-weight: 100;
				font-size: 2em;
			}

			span.timeline-sub-heading {
				font-weight: bold;
				font-size: 2em;
			}

			hr.timeline-top-sep {
				border-top: 5px solid #FFFFFF;
			}

			a.timeline-button {
				display:inline-block;
				width:290px;
				height:185px;
				margin-right: 10px;
				vertical-align: bottom;

				span.inner-text {
					color: #F06127;
					text-decoration: none;
					text-transform: uppercase;
					font-family: "vinyl", Helvetica, Arial, sans-serif;
					font-size: 1.3em;
					display: inline-block;
					padding-top: 30px;
					padding-left: 35px;
					width: 70%;
					line-height: 35px;

					span.small {
						font-size:0.7em;
					}
				}

				i.fa {
					color: #F06127;
					font-size: 4em;
					position: relative;
				}

				&#timeline-button-interactive {
					background-image: url('../images/banner-timeline.png');
					text-align: center;
					i.fa {
						right: 125px;
						top: 50px;
					}
				}

				&#timeline-button-hopes-and-fears {
					background-image: url('../images/banner-hopes-and-fears.png');
					i.fa {
						left: 15px;
						bottom: 10px;
					}
				}

				&#timeline-button-diversity {
					background-image: url('../images/banner-diversity.png');
					span {
						width: 60%;
					}
					i.fa {
						bottom: 50px;
						left: 45px;
					}
				}
			}
		} // .page-content
	} // .page

	div#timeline-nav {
		text-align: center;
		position: absolute;
		left: 300px;

		ul.timeline-nav-list {
			background-image: url('/wp-content/themes/hattaway/assets/images/timeline-nav-vertical-line.png');
			background-position: 65px;
			background-repeat: no-repeat;
			list-style: none;
			width: 55px;
			li {
				padding: 10px 0px;
				height: 55px;
				.nav-text {
					display:none;
				}
			} // li

			&.scroll-fix {
				left: 200px;
				margin-left: 0;
			}
		} // ul#timeline-nav
	}

	.timeline-container {
		max-width: 900px;
		margin: 0 auto;
		padding: 30px;
		padding-left: 100px;
		@media @mobile {
			padding: 0 4%;
		} // @media @mobile

		h1 {
			font-family: 'Gotham A', sans-serif;
			font-weight: 100;
			font-size: 5.7em;
			text-transform: none;
		} // h1

		.timeline-blocks-container {
			margin-bottom: 400px;

			.timeline-blocks {
				.timeline-block {
					box-shadow: 1px 1px 5px -1px #414141;
					margin-bottom: 10px;

					&.transparent {
						box-shadow: none;
						background-color: none;
					} // &.transparent

					&.column-1 {
						width: 270px;
					} // &.column-1
					&.column-2 {
						width: 560px;
					} // &.column-2
					&.column-3 {
						width: 850px;
					} // &.column-3

					.inner {
						margin: 25px;
					} // .inner
				} // .timeline-block
			} // .timeline-blocks
		} // .timeline-blocks-container
	} // .timeline-container
} // #page-timeline




.top-gradient {
	background: url('../images/story-wall-fade.png') repeat-x top center;
	height: 181px;
	position: fixed;
	top: -30px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	display: none;
	@media @mobile {
		display: none;
	}
}




